<Config>
  <Port>8989</Port>
  <UrlBase>
  </UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>2ed9b0677bc44357ba609a8713cd540a</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <LogLevel>Info</LogLevel>
  <Branch>master</Branch>
  <LaunchBrowser>True</LaunchBrowser>
</Config>